body {
    background-color: #353131;
    color: #ffffff;
}

a {
    color: #bb86fc; /* Light purple for links */
}

header, footer {
    background-color: #686767;
}

pre, code {
    background-color: #2a2a2a;
    color: #e0e0e0;
}

.button {
    background-color: #c55ba8;
    color: #ffffff;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Add any other specific dark theme styles as needed */
